@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #7F00FF 0%, #20165b 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 0 2px 5px #7F00FF;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header{
    display: flex;
    background-color: #eee;
    padding: 20px;
    justify-content: center;
}

.form{
    padding: 20px;
}

.form-control{
    position: relative;
    padding-bottom: 15px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border-radius: 10px;
    display: block;
    border: 2px solid #f0f0f0;
    width: 100%;
    padding: 10px;
}

.form-control i{
    position: absolute;
    top: 37px;
    right: 10px;
    visibility: hidden;
}

.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button{
    background-color: #7F00FF;
    border: 2px solid #7F00FF;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
}

/* Puxando o input dentro da div form-control que contem a classe success */
.form-control.success input{
    border-color: #168142;
}

/* Puxando o input dentro da div form-control que contem a classe error */
.form-control.error input{
    border-color: #a7170a ;
}

/* Puxando o I=icone fa-check-circle= icone de sucesso dentro da div
form-control que contem a classe success*/
.form-control.success i.fa-check-circle{
    color: #168142;
    visibility: visible;
}

/* Puxando o I=icone fa-exclamation-circle= icone de erro dentro da div
form-control que contem a classe error*/
.form-control.error i.fa-exclamation-circle{
    color: #a7170a;
    visibility: visible;
}

/* visible pra aparecer a mensagem de erro que até o momento está hidden*/
.form-control.error small {
    visibility: visible;
    color: #a7170a ;
}
