@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #7F00FF 0%, #20165b 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

